
.bar1{
    color: #c0460c;
    background-color: #f9f0ea;
    border: 1px solid #c0460c;
    border-radius: 5px;
    display:block;
    text-align: center;
    padding: 1 3px;
}


.bar2{
    padding: 3px;
    margin: 5px 0;
    color: #c0460c !important;
    background-color: #f9f0ea;
    border: 1px solid #c0460c;
    border-radius: 5px;
    font-weight: bold;
}

.bar3{
    padding: 3px;
    margin: 5px 0;
    color: #42474c;
    background-color: #f3f3f3;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    font-weight: bold;
}
